<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>How wan I support this project?</summary>
          <p><br>You just need to click on the package (for example, the gold package) you would like to go for. A SponsorFox team member will contact you in the next 24 hours to organise a meeting with you and the project owner.</br><br>You will receive the opportunity to further refine the offer and the counterparties, as well as arrange for any practicalities to ensure that the sponsorship agreement is a success!</br></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Can I negotiate the package offers?</summary>
          <p>Of course. Feel free to refine the offer directly with the projetc owner. It is certainly advisable that you try to get the most out of the sponsoring experience.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Who is paying for this?</summary>
          <p><br>The project owner.</br> <br>As company, you will not be charged a single euro for the services. The project owner pays for the intermediation service and for the consulting we offered on how to improve and professionalize its sponsoring offer.</br></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How much does it cost?</summary>
          <p>SponsorFox takes a maximum 15% commission on the amounts generated through the plateform. For larger amounts, the commission drops down to 5%. SponsorFox bills this amount directly to the project owner.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>How do I know the project is of top quality?</summary>
          <p>SponsorFox analyzes to the bone every project proposition it receives. We personnaly call or meet every single project owner who interacts with the plateform.
          <br />
          <br />
          We only publish the projects that we think offer great and sustainable sponsoring value to the companies.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Who is responsible for the good level of the sponsoring?</summary>
          <p>The project owner is responsible for implementing the sponsoring partnership, i.e. to deliver the counterparts it has promised to offer.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Do you provide for a sponsoring agreement?</summary>
          <p><br>Sure. If you so desire, we will draft a robust sponsoring agreement.</br><br>Entirely for free!</br></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Is SponsorFox controlling that the counterparts are delivered?</summary>
          <p>If ou let us know, we can send a SponsorFox team member to control on the day of the project if everything runs according to the sponsoring agreement. We will ask an extra fee from you to cover the related expenses.
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
