<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">

    <li id="section-1">
      <h4>Bronze package</h4>
      <p>Logo on Facebook/Twitter</p>
      <p>Thank you on website</p>
      <p>Logo on back of brochure</p>
      <p> - </p>
      <%= link_to "100€", preorder_checkout_path, class: "btn btn-lg btn-block btn-info" %>
    </li>
    <li id="section-2">
       <h4>Silver package</h4>
      <p>Bronze packaqke</p>
      <p>+ Ad in brochure</p>
      <p>+ Logo on banner</p>
      <p> - </p>
      <%= link_to "200€", preorder_checkout_path, class: "btn btn-lg btn-block btn-info" %>
    </li>
    <li id="section-3">
       <h4>Gold package</h4>
      <p>Silver package</p>
      <p>+ Logo on helmet and outfit</p>
      <p>+ 2 free initiations</p>
      <p> - </p>
      <%= link_to "500€", preorder_checkout_path, class: "btn btn-lg btn-block btn-info" %>
    </li>
    <li id="section-4">
       <h4>Platinum package</h4>
      <p>Gold package</p>
      <p>+ 5 free initiations</p>
      <p>+ coctail event organized</p>
      <p> - </p>
      <%= link_to "1000€", preorder_checkout_path, class: "btn btn-lg btn-block btn-info" %>
    </li>
  </ul>
</div>
